body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #aebd73;
    color: black;
    padding: 15px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #3e4e69;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://www.shutterstock.com/image-photo/online-shopping-paper-cartons-parcel-260nw-1578853621.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    position: relative;
}
.hero h2, .hero p {
    position: relative;
    z-index: 1;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.container {
    padding: 20px;
}
.products img {
    width: 100%;
    height: auto;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.form-container form {
    display: flex;
    flex-direction: column;
}
.form-container label {
    margin: 10px 0 5px;
}
.form-container input, .form-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-container button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #555;
}
@media (max-width: 768px) {
    .product {
        flex: 1 1 100%;
    }
}
